@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	// background: linear-gradient(-45deg, #072b40, #37738b);
	background: rgba(15, 7, 21, 1);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	font-family: "Work Sans", sans-serif;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* COMMON CSS CLASSES */
.overflow-hidden {
	overflow: hidden;
}

.container {
	max-width: 1320px;
	padding: 0;
	margin: 0 auto;
}

.max-w-400px {
	max-width: 400px;
}

.max-w-700px {
	max-width: 700px;
}

.max-w-500px {
	max-width: 500px;
}

.hidden {
	display: none;
}

.gap-15 {
	gap: 15rem;
}

/* HEADER CSS */
.header-parent {
	padding: 15px 0px;
    .header-container {
		max-width: 1320px;
		margin: 0 auto;
		.logo {
			h2 {
				position: relative;
				color: #fff;
				font-weight: 500;
				z-index: 9;
				font-weight: 600;
				font-size: 1.6rem;
				span {
					color: #fff;
					font-weight: 800;
					&::before {
						position: absolute;
						content: "";
						left: -17px;
						top: -4px;
						height: 50px;
						width: 50px;
						border-radius: 50px;
						background-color: #072b40;
						border: 1px solid #fff;
						border-right: 0;
						color: #fff;
						z-index: -1;
					}
				}
			}
		}
		nav {
			ul {
				li {
					a {
						position: relative;
						display: inline-block;
						margin: 0.875rem 0rem;
						padding: 5px 0px;
						overflow: hidden;
						&::after {
							position: absolute;
							content: "";
							left: -100%;
							right: 0;
							bottom: 0px;
							height: 0.125rem;
							width: 100%;
							background-image: linear-gradient(260deg, #2a1454, #8750f7);
							border-radius: 2px;
							transition: 0.5s;
						}
						&:hover {
							&::after {
								left: 0;
							}
						}
						&.hire-me {
							position: relative;
							padding: 17px 2.1875rem;
							background-image: linear-gradient(90deg, #8750f7 0, #2a1454 51%, #8750f7);
							background-size: 200%;
							border-radius: 9999px;
							color: #fff;
							font-weight: 800;
							transition: 0.5s;
							&::after {
								display: none;
							}
							// &:hover {
							// 	transition: 0.5s;
							// 	&::before {
							// 		position: absolute;
							// 		content: "";
							// 		top: 0;
							// 		left: 0;
							// 		height: 100%;
							// 		background-image: linear-gradient(90deg, #2a1454 0, #8750f7 51%, #8750f7);
							// 		background-size: 200%;
							// 		width: 100%;
							// 		border-radius: 99px;
							// 		transition: 0.5s;
							// 		color: #fff;
							// 	}
							// }
						}
					}
				}
			}
		}
	}
}

/* MAIN */
.mains-section {
	&::after {
		position: absolute;
		content: "";
		right: 0px;
		top: 0px;
		background-image: linear-gradient(260deg, #8750f7, rgba(115, 67, 210, 0));
		height: 19.25rem;
		width: 20.125rem;
		border-radius: 50%;
		z-index: -1;
		// margin-right: -5%;
		filter: blur(150px);
	}
	.intro-text svg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 46%;
		top: 55%;
		transform: translate(-50%, -50%) scale(1);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
		animation: pulsate 3s ease-in-out infinite alternate;
		text {
			font-family: "Russo One", sans-serif;
			text-transform: uppercase;
			stroke-width: 1.2;
			stroke: #8750f7;
			fill: transparent;
			font-size: 240px;
			display: inline-block;
			opacity: 0;
		}
		.animate-stroke {
			font-family: "Russo One", sans-serif;
			opacity: .7;
			animation: stroke 4s;
			stroke: #2a1454;
		}
	}
	@keyframes pulsate {
		0% {
			transform: translate(-50%, -50%) scale(1);
		}
		50% {
			transform: translate(-50%, -50%) scale(1.05);
		}
		100% {
			transform: translate(-50%, -50%) scale(1);
		}
	}
	.container {
		.column-group {
			display: grid;
			grid-template-columns: repeat(2,minmax(0,1fr));
			gap: 1.875rem;
			align-items: center;
			padding: 80px 0px;
			div > h1 {
				background-image: linear-gradient(90deg, #8750f7 0, #fff);
				color: transparent;
				background-clip: text;
				font-size: 4rem;
				font-weight: 800;
			}
			.profile {
				margin: 0 auto;
				.image-container {
					border: 1px solid #ad8feb;
					border-radius: 30px;
					overflow: hidden;
					width: fit-content;
					transform: rotate(6deg);
					transition: 0.5s;
					&:hover {
						transform: rotate(0);
					}
				}
			}
			.download {
				position: relative;
				font-weight: 600;
				color: rgba(135, 80, 247, 1);
				padding: 17px 2.1875rem;
				border: 1px solid rgba(135, 80, 247, 1);
				border-radius: 50px;
				overflow: hidden;
				z-index: 9;
				&:hover {
					color: #fff;
					background-color: rgba(135, 80, 247, 1);
					.fa {
						color: #fff;
					}
				}
			}
			ul {
				li {
					position: relative;
					height: 35px;
					width: 35px;
					place-items: center;
					border: 1px solid rgba(135, 80, 247, 1);
					border-radius: 50px;
					text-align: center;
					line-height: 35px;
					cursor: pointer;
					.fa {
						position: relative;
						color: rgba(135, 80, 247, 1);
						z-index: 9;
					}
					&::after {
						position: absolute;
						content: "";
						height: 35px;
						width: 35px;
						background-color: rgba(135, 80, 247, 1);
						border-radius: 50px;
						left: 0;
						transition: 0.5s;
						transform: scale(0);
					}
					&:hover {
						.fa {
							color: #fff;
						}
						&::after {
							transform: scale(1);
						}
					}
				}
			}
		}
	}
}

#service {
	background-color: rgba(5, 7, 9, 1);
	.service-padding {
		padding: 90px 0px;
		.heading {
			padding-bottom: 90px;
			h2 {
				background-image: linear-gradient(90deg, #8750f7 0, #fff);
				background-clip: text;
			}
		}
		.service-weight {
			.service-item {
				border-bottom: 1px solid rgba(42, 20, 84, 1);
				padding: 0px 15px;
				transition: 0.5s ease-in-out;
				.left {
					width: calc(40% - 115px);
				}
				&:hover {
					background-image: linear-gradient(90deg, #8750f7 0, #2a1454 51%, #8750f7);
					background-size: 200%;
					transition: 0.5s ease-in-out;
				}
			}
		}
	}
}

#portfolio {
	// background-color: rgba(5, 7, 9, 1);
	background-color: linear-gradient(260deg, #8750f7, rgba(115, 67, 210, 0));
	.portfolio-padding {
		padding: 90px 0px;
		.heading {
			padding-bottom: 90px;
			h2 {
				background-image: linear-gradient(90deg, #8750f7 0, #fff);
				background-clip: text;
			}
		}
		.portfolio-weight {
			.service-item {
				border-bottom: 1px solid rgba(42, 20, 84, 1);
				padding: 0px 15px;
				transition: 0.5s ease-in-out;
				.left {
					width: calc(40% - 115px);
				}
				&:hover {
					background-image: linear-gradient(90deg, #8750f7 0, #2a1454 51%, #8750f7);
					background-size: 200%;
					transition: 0.5s ease-in-out;
				}
			}
		}
	}
}

/* TABNING CODE IS HERE */
.tabing-container {
	.button-container {
		display: flex;
		gap: 15px;
		justify-content: center;
		padding: 10px 20px;
		border-radius: 50px;
		background-color: #000;
	}
	button {
		border-radius: 10px;
		border-radius: 50px;
		transition: 0.5s;
		&.active {
			background: linear-gradient(260deg, #2a1454 0, #8750f7);
			transition: 0.5s;
		}
	}
}